docs/assets/img/finalCroissant.gif filter=lfs diff=lfs merge=lfs -text
docs/assets/img/LimoQUICK.gif filter=lfs diff=lfs merge=lfs -text
docs/assets/img/firstMotion_1.gif filter=lfs diff=lfs merge=lfs -text
docs/assets/img/colorQUICK.gif filter=lfs diff=lfs merge=lfs -text
docs/assets/img/project3Vid.mp4.mov filter=lfs diff=lfs merge=lfs -text
docs/assets/img/finalCroissantCUT.gif filter=lfs diff=lfs merge=lfs -text
docs/assets/img/project2Vid.mp4 filter=lfs diff=lfs merge=lfs -text
docs/assets/img/step4gif.gif filter=lfs diff=lfs merge=lfs -text
docs/assets/img/project1.jpg filter=lfs diff=lfs merge=lfs -text
docs/assets/img/step2img2.jpg filter=lfs diff=lfs merge=lfs -text
